

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}

#map {

    height: 700px;
    width: 100%;
  }
body,h1,h2,h3,h4,h5 {
    font-family: "Raleway", sans-serif
};
.w3-quarter img{
    margin-bottom: -6px; 
    cursor: pointer;
};
.w3-quarter img:hover{
    opacity: 0.6; 
    transition: 0.3s;
};

.mapdiv{
    height:500px;

}
#resultContent{
    max-width: 80%; 
    margin: 10px auto;
    padding: 20px;
    height: 700px;
    overflow-y: auto;
   

}
.theForm{
    max-width: 80%; 
    margin: 10px auto;
}

#submitContent{
    height: 700px;
    flex-grow: 1;
    
}


#header{
    background-image: url("./Assets/IMG/photo-welcome.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.right-content{
    padding:10px;
    margin:10px;
    border-radius: 25px;

}

.right-content:hover{
    size:110%;
    /* background-color:blue; */
    opacity: 0.50;
    box-shadow: 20px;
    /* width: 95%;
    height: 95%; */
    transform: scale(1.05);
}
.w3-main{
    height: 100%;
}


span {
    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-weight: 900;
    font-size: 37px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    display: inline-block;
  }

span:before {
    position: absolute;
    left: 0;
    top: 0;
    content: attr(filter-content);
  
    filter: url(#motion-blur-filter);
  }
  
  svg {
    display: none;
  }

  .formLocatInput{
	position:relative;
	margin-bottom:25px;
    max-width: 80%; 
    margin: 10px auto;
}

.formLocatInput label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:black;	
	transition: all 0.5s ease-in-out;
}
.formLocatInput input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:black;
}
.formLocatInput input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}

.formLocatInput input:focus ~ label{
	top:-12px;
	font-size:12px;
	
}